:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-background-color: #d7dae9;
  --accent-color: #f5ad51;
  --base-color: #fffff0;
}

h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  color: var(--accent-color);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.5;
}

footer {
  background: var(--primary-background-color);

  text-align: center;
  padding: 60px 30px;
}
.contact-title {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-size: 40px;
  font-weight: bold;
}
.hero {
  padding: 160px 20px;
  background: var(--primary-background-color);

  text-align: center;
}

.hero p {
  font-size: 36px;
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-bottom: 0px;
}
.btn-branding {
  background: var(--accent-color);
  color: var(--base-color);
  border-radius: 4px;
  margin-top: 100px;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 20px 15px;
}

.btn-branding:hover {
  color: var(--accent-color);
}
.article-description {
  padding: 100px 60px;
}
.travel-title {
  font-size: 64px;
  font-family: var(--primary-font);
  color: var(--accent-color);
}

.btn-branding-outline {
  background: var(--base-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 10px 15px;
}

.btn-branding-outline:hover {
  background: var(--accent-color);
  color: var(--base-color);
}

.arrow {
  font-size: 40px;
}

.btn-branding-contact {
  color: var(--accent-color);
  border: solid 0.5px var(--accent-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 20px 15px;
}

.btn-branding-contact:hover {
  background: var(--accent-color);
  color: var(--base-color);
}

.about-section {
  padding: 50px 20px;
}

.about-section h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-section h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-section p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.about-section .btn-branding {
  margin-top: 40px;
}

.about-section-content {
  margin: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
  .hero {
    padding: 80px 15px;
  }
  .hero p {
    font-size: 25px;
  }
  .travel-title {
    font-size: 40px;
  }
  .article-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0px;
  }
  .oriana-picture {
    margin: 5px;
  }
}
